body
{
	min-width: 320px;
	font: 12px/18px 'Didact Gothic';
	font-size:1em;
	text-transform: lowercase;
	background-color: #1e1e1e;
	color: #ddd;
}

h3
{
	color: darkcyan;
	font-weight: bold;
	font-size: 19px;
}

content
{
	float: left;
	clear: left;
	width: 100%;
}

footer
{
	float: left;
	clear: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.grid
{
	width: 80%;
	margin: 30px 10%;
	float: left;
	clear: left;
}

.post-filter
{
	margin: 0;
	margin-top: -1px;
	padding: 30px 10%;
	background: #2a2a2a;
}

.post-filter p
{
	float: left;
	padding: 0 10px;
	font-size: 0.75em;
}

.post-filter a
{
	float: left;
	font-size: 0.75em;
}

.post-item
{
	display: none;
	margin-right: 20px;
	margin-bottom: 20px;
}

.post-item:last-child
{
	margin-right: 0;
}

.isotope-item
{
    z-index: 2;
}

.isotope-hidden.isotope-item
{
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item
{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope
{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item
{
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

@media all and (min-width: 830px)
{	
	header
	{
		margin: 0 auto;
		height: 70px;
	}
	
	nav
	{
		width: 100%;
		float: left;
		margin: 0 auto;
		top: 0;
		left: 0;
		z-index: 1001;
	}
	
	.gridleft, .gridright
	{
		float: left;
		width: 45%;
		margin: 0 1%;
		padding: 1.5%;
		background: #333;
		min-height: 250px;
	}
}

@media all and (max-width: 829px) and (min-width: 420px)
{
	.gridleft, .gridright
	{
		float: left;
		width: 95%;
		margin: 0 1%;
		margin-bottom: 30px;
		padding: 1.5%;
		background: #333;
		min-height: 250px;
	}

	.post-filter a
	{
		width: 50%;
	}

	.post-filter p
	{
		width: 100%;
		padding: 0;
	}
}

@media all and (max-width: 419px)
{
	.grid
	{
		width: 100%;
		margin: 30px 0;
		float: left;
		clear: left;
	}
	
	.gridleft, .gridright
	{
		float: left;
		width: 97%;
		margin: 0;
		margin-bottom: 30px;
		padding: 1.5%;
		background: #333;
		min-height: 150px;
	}

	.post-item
	{
		margin: 0 10px;
	}

	.post-filter
	{
		padding: 10px 0;
		margin: 0;
	}

	.post-filter a,
	.post-filter p
	{
		width: 100%;
		float: left;
		clear: left;
		text-align: center;
		margin: 5px 0;
		padding: 0;
	}
}

a
{
	color: #aaa;
	text-decoration: none;
}

a:hover
{
	color: darkcyan !important;
	text-decoration: line-through !important;
}

a::before,
a::after,
nav a::before,
nav a::after,
a.readmore::before,
a.readmore::after,
nav li.active ul a::before, 
nav li.active ul a::after
{
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

nav .home a::before,
nav .home a::after
{
	display: none !important;
}

a:hover::before,
a:hover::after,
nav a:hover::before,
nav a:hover::after, 
a.readmore:hover::before,
a.readmore:hover::after,
nav a:focus::before, 
nav a:focus::after,
nav li.active a::before, 
nav li.active a::after,
nav li.active ul a:hover::before, 
nav li.active ul a:hover::after,
nav li.active ul a:focus::before, 
nav li.active ul a:focus::after
{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

a::before,
nav a::before,
a.readmore::before,
nav li.active ul a::before
{
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

a::after,
nav a::after,
a.readmore::after,
nav li.active ul a::after
{
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.dn
{
	display: none;
}

.fl
{
	float: left;
}