html
{
	margin: 0 !important;
}

body
{
	min-width: 320px;
	font: 12px/18px 'Didact Gothic';
	font-size:1em;
	text-transform: lowercase;
	background-color: #1e1e1e;
	color: #ddd;
}

header
{
	position: fixed !important;
	top: 0;
	width: 100% !important;
	z-index: 2000;
	background: #1e1e1e !important;
}

h3
{
	color: darkcyan;
	font-weight: bold;
	font-size: 19px;
}

p
{
	margin-top: 1em;
}

a
{
	color: #aaa;
	text-decoration: none;
}

ul,
ol
{
	padding: 1em 0 0 2em;
	padding-left: 2em;
}​

a:hover,
a.active
{
	color: darkcyan !important;
	text-decoration: line-through !important;
}

content
{
	margin-top: 69px;
	float: left;
	clear: left;
	width: 100%;
	min-height: 500px;
}

footer
{
	float: left;
	clear: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.grid,
.about
{
	width: 80%;
	margin: 30px 10%;
	float: left;
	clear: left;
	position: relative;
}

.about
{
	z-index: 1001;
	height: 650px;
}

.background
{
	position: absolute;
	float: left;
	z-index: 1000;
	width: 100%;
	height: 680px;
	overflow: hidden;
}

.background img
{
	width: 100% !important;
	min-width: 500px;
	height: auto;
}

#post-container
{
	min-height: 200px;
}

.post-filter
{
	margin: 0 !important;
	padding: 30px 10%;
	background: #2a2a2a;
}

.post-filter p
{
	float: left;
	padding: 0 10px;
	font-size: 0.75em;
	margin: 0;
}

.post-filter a
{
	float: left;
	font-size: 0.75em;
	margin: 0 5px;
}

.post-item
{
	float: left;
	display: none;
	margin-right: 20px;
	margin-bottom: 20px;
}

.post-item:last-child
{
	margin-right: 0;
}

p.post-item
{
	width: 100%;
	text-align: center;
	margin: 70px 0 !important;
}

.post-item h1
{
	position: absolute;
	bottom: 5%;
	left: 0;
	padding: 10px 20px;
	width: 150px;
	background: rgba(0,0,0,0.5);
}

.post-content
{
	float: left;
	clear: left;
	width: 100%;
}

.isotope-item
{
    z-index: 2;
}

.isotope-hidden.isotope-item
{
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item
{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope
{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item
{
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

@media all and (min-width: 830px)
{	
	header
	{
		margin: 0 auto;
		height: 69px;
	}
	
	nav
	{
		width: 100%;
		float: left;
		margin: 0 auto;
		top: 0;
		left: 0;
		z-index: 1001;
	}
	
	.gridleft
	{
		float: left;
	}

	.gridright
	{
		float: right;
	}

	.gridleft, .gridright
	{
		width: 45%;
		margin: 0 1%;
		padding: 1.5%;
		background: #333;
		min-height: 250px;
	}

	.aboutright
	{
		width: 450px;
		margin: 0 1%;
		padding: 1.5%;
		background: #333;
		min-height: 250px;
		position: absolute;
		z-index: 1001;
		bottom: 50px;
		right: 0;
	}
}

@media all and (max-width: 829px)
{
	.background
	{
		position: relative;
		float: left;
		clear: left;
		height: auto;
	}

	.about
	{
		position: relative;
		float: left;
		clear: left;
		height: auto !important;
		min-height: 150px;
		margin: 30px 0;
		width: 80%;
		padding: 0 10%;
	}

	.aboutright
	{
		position: relative;
		float: left;
		clear: left;
		width: 100%;
	}
}

@media all and (max-width: 829px) and (min-width: 420px)
{
	content
	{
		min-height: auto;
		margin-top: 63px;
	}

	.grid
	{
		width: 90%;
		margin: 30px 5%;
	}

	.gridleft, .gridright
	{
		float: left;
		width: 95%;
		margin: 0 1%;
		margin-bottom: 30px;
		padding: 1.5%;
		background: #333;
		min-height: 250px;
	}

	.post-filter
	{
		padding: 30px 5%;
	}

	.post-filter a
	{
		width: 45%;
	}

	.post-filter p
	{
		width: 100%;
		padding: 0;
	}

	.post-item
	{
		width: 80%;
		float: left;
		clear: left;
		margin: 0;
		margin-bottom: 20px;
		padding: 0 10%;
	}

	.post-item:last-child
	{
		margin-right: 0;
	}

	.post-item img,
	.post-item h1,
	.post-item p
	{
		float: left;
	}

	.post-item h1
	{
		left: 10%;
	}
}

@media all and (max-width: 419px)
{
	content
	{
		margin-top: 63px;
	}

	.grid
	{
		width: 100%;
		margin: 30px 0;
		float: left;
		clear: left;
	}
	
	.gridleft, .gridright
	{
		float: left;
		width: 97%;
		margin: 0;
		margin-bottom: 30px;
		padding: 1.5%;
		background: #333;
		min-height: 150px;
	}

	.post-item
	{
		margin: 0 10% 20px !important;
		width: 80%;
	}

	.post-item:last-child
	{
		margin-bottom: 0;
	}

	.post-item img
	{
		width: 100%;
		height: auto;
	}

	.post-filter
	{
		padding: 10px 0;
		margin: 0;
	}

	.post-filter a,
	.post-filter p
	{
		width: 100%;
		float: left;
		clear: left;
		text-align: center;
		margin: 5px 0;
		padding: 0;
	}
}

.dn
{
	display: none;
}

.fl
{
	float: left;
}