@font-face {
	font-family: 'Didact Gothic';
	font-style: normal;
	font-weight: 400;
	src: local('Didact Gothic'), local('DidactGothic'), url(http://fonts.gstatic.com/s/didactgothic/v6/v8_72sD3DYMKyM0dn3LtWp_RtrTXGeaL_Dia6_H9gNs.woff) format('woff');
}