/*------------------------------------------------------------------------

   01. CSS Reset
   02. Slider Styles
   03. Media Query
   04. Custom
   
*/

/* ------------------------------- 1. Resets -------------------------------------- */

body .slider *
{
    margin:0;
    padding:0;
    line-height: 1;
}

/* ------------------------------- 2. Slider Styles ------------------------------- */

.slider
{
    position: relative;
    width:100%;
    overflow: hidden;
}

.slider .slider_container
{

}

.slider .slide
{
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:95%;
	margin: 0 2.5%;
}

.slider .slide img
{
    width:100%;
    height: auto;
    float:left;
}

.slider .slidePrev
{
    background:rgba(0, 0, 0, 0.7);
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    opacity:0.5;
    z-index: 10;
}

.slider .slidePrev i
{
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 32px;
    color:rgba(255, 255, 255, 0.8);
    line-height: 1.7;
    text-align: center;
}

.slider .slideNext
{
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    opacity:0.5;
    z-index: 10;
}

.slider .slideNext i
{
    background:rgba(0, 0, 0, 0.7);
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 32px;
    color:rgba(255, 255, 255, 0.8);
    line-height: 1.7;
    text-align: center;
}

.slider .timers
{
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

.slider .timer
{
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

.slider .progress
{
    height:4px;
    width:0%;
    background-color: #FC3;
    float:left;
}

.slider .bullets
{
    position: absolute;
    bottom:-50px;
    z-index: 3;
    width:100%;
    text-align: center;
}

.slider .bullet
{
    display: inline-table;
    cursor: pointer;
    padding:0 2px;
}

.slider .bullet i
{
    color:#000;
    font-size: 15px;
    line-height: 1;
    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

.slider .bullet.active i, .slider .bullet:hover i
{
    color:#FFCC33;
}

.slider .slide_content
{
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

/* Slider Text Content Container Style */
.slider .slide_content_wrap
{
    max-width:1280px;
    position: absolute;
    left:0;
    top:0;
    display: none;
}

/* Slider Title Style */
.slider .title
{
    opacity: 0;
    color:#fff;     
    font-size:36px;
    background:#000;
    padding:10px;
    float:left;
}

/* Slider Description Style */
.slider .description
{
    opacity: 0;
    color: darkcyan;
    font-size:18px;
    background:#000;
    padding:10px;
    clear:both;
    float:left;
    margin-top:2px;
    line-height:24px;
}

.slider .readmore { /* Slider Read More button Style */
    opacity: 0;
    clear:both;
    float:left;
    text-transform:uppercase;
    font-size:10px;
    color:#919191;
    background:#000;
    padding:10px;
    text-decoration: none;
    margin-top:2px;
    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

/* ------------------------------- 3. Media Query ------------------------------- */

@media only screen and (min-width:1150px) and (max-width: 1450px)
{
    .slider .slide_content_wrap
	{ 
        margin-left:75px; 
        margin-top:15%; 
        max-width:1000px;
    }
    .slider .title { font-size:26px; }
    .slider .description { font-size:14px;}
}

@media only screen and (min-width:830px) and (max-width: 1149px)
{
    .slider .slide_content_wrap
	{ 
        margin-left:75px; 
        margin-top:15%; 
        max-width:640px;
    }
	
    .slider .title { font-size:26px; }
    .slider .description {  font-size:14px;}
}

@media only screen and (max-width:829px)
{
	.slider  .slide
	{
		width:100%;
		margin: 0;
	}
    .slider .slide_content_wrap
	{
        top:0 !important;
        left:0 !important;
        margin:0 !important;
        width:100%;
        height:100%;
    }

    .slider .slide_content_wrap h4, 
    .slider .slide_content_wrap p
	{ 
		font-size: 1.1em;
		position: absolute;
		max-height: 2em;
		line-height: 1em;
    }
	
    .slider .slide_content_wrap h4
	{
		bottom: 50px;
	}
	
    .slider .slide_content_wrap p
	{
		bottom: 15px;
	}
	
    .slider .slide_content_wrap a
	{
        opacity:0 !important;
        background: none !important;
        font-size: 0 !important;
        width:100%;
        height: 100%;
        margin:0 !important;
        padding:0 !important;
        float:left;
		position: absolute;
		top: 0;
		left: 0;
    }

    .slider .timers { display:none; }
    .slider .bullets { display:none; }
    .slider .slide_content {cursor: pointer;}
}

@media only screen and (max-width:465px)
{
    .slider .slide_content_wrap h4
	{
		bottom: 15px !important;
	}
	
    .slider .slide_content_wrap p
	{
		display: none !important;
	}
}

/* ------------------------------- 4. Custom -------------------------------------- */